.form__container{
    display: grid;
grid-template:40px 40px / 1fr 1fr;
  gap:17px;

  .text{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
  }
}

.loading{
  font-size: large;
  font-style: italic;
  font-weight: bolder;
  margin: auto;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.error{
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  margin: auto;
  color: red;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.form__button{
    grid-column: 1 / -1;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
border-radius: 5px;
background-color: rgba(170, 65, 170, 0.886);
color: white;
border: none;
cursor: pointer;
}
main{
    padding: 36px;
}

 .meme__image{
   max-width: 100%;
   height: 80vh;
   width: 180vh;
   margin: auto;
   align-items: center;
   text-align: center;
   display: flex;
  
 }

 .meme{
  margin-top: 10px;
  border-radius: 3px;
  position:relative;

  h2{
    position: absolute;
  }

  &__top-text{
    top: 10px;
  padding-left: 80px;
  font-size: 50px;
  color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
 margin-left: auto;
  }

  &__text-bottom{
    bottom: 10px;
    text-align: center;
    padding-left: 80px;
    font-size: 50px;
    color: black;
    align-items: center;
    text-align: center;
  }
 }